html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 35px 25px;
  background: black;
  color: #eaeaea;
  text-align: center;
}

.logo-wrapper {
  margin-bottom: 25px;
}

.logo-image {
  max-width: 300px;
  margin-top: 0%;
}

h2 {
  margin-bottom: 20px;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.home-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.home-form input {
  padding: 14px 16px;
  font-size: 12px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.home-form input:focus {
  border-color: #999;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  outline: none;
  background-color: #0d0d0d;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 18px;
  transition: color 0.3s ease;
}

.toggle-password:hover {
  color: #fff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.login-button,
.register-button {
  flex: 1;
  padding: 14px 0;
  font-size:15px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.login-button {
  background: linear-gradient(135deg, #333, #000);
  color: #fff;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}

.login-button:hover:not(:disabled) {
  background: linear-gradient(135deg, #000, #333);
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.15);
}

.register-button {
  background: #2a2a2a;
  color: #ddd;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}

.register-button:hover:not(:disabled) {
  background: #3a3a3a;
  color: #fff;
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.15);
}

.login-button:disabled,
.register-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.fa-eye{
  color: #777;
  font-size: 15px;
}
.remember-me {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #444;
}

.remember-me input {
  margin-right: 6px;
}

.forgot-password {
  text-align: right;
  margin-top: 5px;
}

.forgot-password span {
  color: #aaa;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.forgot-password span:hover {
  color: #fff;
  text-decoration: underline;
}
