.plani-viewer-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px 25px;
  background-color: #121212;
  color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.plani-viewer-container h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

.plan-content {
  margin-top: 20px;
  text-align: left;
}

.plan-content h3 {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #4fa3ff;
}

.plan-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-content li {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  line-height: 1.5;
  border: 1px solid #222;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border-left: 6px solid #444;
}

.bloque-texto a {
  color: #4fa3ff;
  text-decoration: underline;
  word-break: break-word;
}

.link-coach {
  margin-top: 25px;
}

.link-btn {
  padding: 12px 20px;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: #2a2a2a;
  color: #f0f0f0;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.link-btn:hover {
  background-color: #4fa3ff;
  color: #fff;
  box-shadow: 0 4px 12px rgba(79, 163, 255, 0.5);
}

.tabla-porcentajes {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

.tabla-porcentajes th,
.tabla-porcentajes td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

.tabla-porcentajes th {
  background-color: #333;
  font-weight: 600;
}

.input-peso {
  width: 70px;
  padding: 8px;
  background: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  text-align: center;
}

.fila-seleccionada td {
  background: #055236 !important;
  color: #fff !important;
  font-weight: bold;
}

.fila-seleccionada input {
  background: #055236 !important;
  border-color: black !important;
  color: #fff !important;
}

.bloque-A {
  border-left-color: #4fa3ff !important;
}

.bloque-B {
  border-left-color: #27ff52 !important;
}

.bloque-C {
  border-left-color: #9b59b6 !important;
}

.bloque-D {
  border-left-color: #f39c12 !important;
}

.bloque-E {
  border-left-color: #e74c3c !important;
}

.bloque-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  display: block;
}

.bloque-texto {
  font-size: 1rem;
  color: #ddd;
  line-height: 1.5;
  white-space: pre-wrap;
}

/* Mobile */
@media (max-width: 600px) {
  .plani-viewer-container {
    margin: 20px auto;
    padding: 20px 15px;
  }

  .tabla-porcentajes th,
  .tabla-porcentajes td {
    padding: 6px;
    font-size: 0.8rem;
  }

  .input-peso {
    width: 60px;
    padding: 6px;
    font-size: 0.85rem;
  }

  .bloque-titulo {
    font-size: 1rem;
  }

  .bloque-texto {
    font-size: 0.9rem;
  }
}
